@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a ASP.NET</h1>
    <p><a href="https://docs.microsoft.com/aspnet/core">Aprende más sobre ASP.NET</a>.</p>
</div>
<form class="form-floating">
  <input type="email" class="form-control" id="floatingInputValue" placeholder="name@example.com" value="test@example.com">
  <label for="floatingInputValue">search</label>
</form>
    @{
        var search = "dogecoin" ;
        var lang = "language";
        try
            {
                var myModel = await Connection.EstablishConnection(search, lang);
                var count = 0;
                foreach (var art in myModel.Articles) 
                {
                    count++;
                    System.Console.WriteLine(art.Url);
                    
                    
                }

            }
            catch (System.Exception n)
            {
                System.Console.WriteLine("Error connection" + n.Message);
            }
    }
<div class="Search">@search</div>
<div class = "Language">@lang </div>


