@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}
<div class="text-center">
    <h1 class="display-4">Crypto News Daily</h1>
    <p><a href="https://github.com/ddiazmendoza">Follow me on GitHub.</a>.</p>
    <div>
        <table class="table-dark">
            <tr>
                <td>Artículo</td>
                <td>Descripción</td>
            </tr>
            <tr>
                <td>
                    @{
                        try
                        {
                            var myModel = await IndexModel.SearchAsync("dogecoin", "en");
                            var count = 0;
                            foreach (var art in myModel.Articles)
                            {
                                <p><a href="@art.Url"> @art.Title; </a></p>
                                count++;
                            }
                        }
                        catch (System.Exception n)
                        {
                            System.Console.WriteLine("Error connection" + n.Message);
                        }
                    }
                </td>
            </tr>
        </table>
    </div>
</div>



