
<!DOCTYPE html>
@{
    var currency = await IndexModel.GetCurrencyAsyc();
}
<html lang="en">
<head>

</head>
<body>
    <header>    
        <strong>MARKETS PAGE</strong>
    </header>    
</body>
</html>
